<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main class="main">
  <% if (id) { %>
  <div class="grid">
    <article class="card product-item">
      <header class="card__header">
        <h1 class="product__title"><%= docTitle %></h1>
      </header>
      <div class="card__image">
        <img src="<% if (imgUrl){ %> imgUrl <%} else { %>https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png <%}%>" alt="A Book">
      </div>
      <div class="card__content">
        <h2 class="product__price">
          <%= price %>
        </h2>
        <p class="product__description"><%= description %></p>
      </div>
      <div class="card__actions">
        <form action="/add-to-cart" method="POST">
              <button class="btn">Add to Cart</button>
            </form>
      </div>
    </article>
  </div>
  <div class="grid">
    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
  </div>
  <%} else {%>
    <h1>Opps! Keep trying 😊</h1>
    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
  <% } %>


<%- include('../includes/end.ejs') %>